body {
    background-color: rgb(37, 37, 37);
}

.logo{
  font-family: 'Pacifico', cursive;
  color: #3ecfb4;
  font-size: 60px;
}
.title {
    padding-top: 2%;
    text-align: center;
    color: white;
}

.form{
    padding-top: 30%;
    color: white;
}

.image{
  text-align: center;
  padding-top: 5%;
}

.social{
  padding-left: 22%;
  padding-top: 1%;
}

.rodape {
  float: right;
  font-size: 15px;
}

.github {
  float: right;
  font-size: 15px;
  filter: invert(100%);
}

@media print {
  .hidden-print {
    display: none !important;
  }
}


@media (min-width: 600px) {
  .image{
    padding-left: 35%;
    padding-top: 20%;
  }
  .social{
    padding-left: 50%;
    padding-top: 1%;
  }
  .form{
    padding-top: 25%;
    color: white;
  }
}