body {
    background-color: rgb(37, 37, 37);
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.logo{
  font-family: 'Pacifico', cursive;
  color: #3ecfb4;
  font-size: 60px;
}
.title {
    padding-top: 2%;
    text-align: center;
    color: white;
}

.detalhes {
  padding-top: 2%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.form{
    padding-top: 4%;
    color: white;
}

.image{
  text-align: center;
  padding-top: 5%;
}

.imagepay{
  text-align: center;
  padding-top: 5%;
}


/* .social{
  padding-left: 22%;
  padding-top: 1%;
} */

.socialpay{
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

.rodapepay {
  padding-top: 5%;
  float: right;
  font-size: 15px;
}

.rodape {
  float: right;
  font-size: 15px;
}


.github {
  float: right;
  font-size: 15px;
  filter: invert(100%);
}

@media print {
  .hidden-print {
    display: none !important;
  }
}


@media (min-width: 600px) {
  .image{
    padding-left: 35%;
    padding-top: 25%;
  }
  /* .social{
    padding-left: 50%;
    padding-top: 1%;
  } */
  .socialpay{
    display: flex;
    justify-content: center;
    padding-top: 1%;
  }
  .form{
    padding-top: 5%;
    color: white;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
  }
}
